<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="YandexLinguistics.NET.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="PredictorKey" value="pdct.1.1.20131116T111605Z.e45a2927eae2bd1b.7bd44f99c7d9d634ef38bcd649fdc996c8b6ddbe" />
    <add key="DictionaryKey" value="dict.1.1.20131116T111739Z.ed5e7998d207ec85.dcbda87c023115b94a6c5caeb6dd122a0b62c840" />
    <add key="TranslatorKey" value="trnsl.1.1.20131116T111727Z.1996f6347b51e3cb.51f72e60d8a05960bc4b820d9a9f558c9dc00404" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <YandexLinguistics.NET.Gui.Properties.Settings>
      <setting name="PredictorLanguage" serializeAs="String">
        <value>Ru</value>
      </setting>
      <setting name="PredictorMaxHintCount" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="PredictorHintDelay" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="DictionaryLangPair" serializeAs="String">
        <value>Ru-Ru</value>
      </setting>
      <setting name="DictionaryLangUi" serializeAs="String">
        <value />
      </setting>
      <setting name="DictionaryFamily" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DictionaryMorpho" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DictionaryPartOfSpeech" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PredictorInput" serializeAs="String">
        <value />
      </setting>
      <setting name="DictionaryInput" serializeAs="String">
        <value />
      </setting>
      <setting name="DictionaryHintDelay" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="DictionaryFormatting" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SelectedTabIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TranslatorInputLang" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="TranslatorOutputLang" serializeAs="String">
        <value>Ru</value>
      </setting>
      <setting name="TranslatorHintDelay" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="TranslatorDetectInputLang" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TranslatorInput" serializeAs="String">
        <value />
      </setting>
      <setting name="DictionaryOutputIndent" serializeAs="String">
        <value>
        </value>
      </setting>
    </YandexLinguistics.NET.Gui.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>